Array =[]
Tupple=()
Dictionary={}
Set={}

# String

In [17]:
data='Data Science with Pyton'

In [18]:
data.find('w')

13

In [20]:
data.find('t',10,22)

15

In [24]:
data.find('t',10,15)

-1

In [26]:
data.index('P')

18

In [27]:
data.index('P',10,22)

18

In [28]:
data.lower()

'data science with pyton'

In [30]:
data.upper()

'DATA SCIENCE WITH PYTON'

In [31]:
data.casefold()      #lowerCase

'data science with pyton'

In [33]:
x='Data SCIENCE is fun'

In [34]:
x.capitalize()     #conver only first char into upper case

'Data science is fun'

In [36]:
x.swapcase()

'dATA science IS FUN'

In [37]:
x.isdigit()

False

In [38]:
type(x.encode())

bytes

In [40]:
x.split()

['Data', 'SCIENCE', 'is', 'fun']

In [42]:
x.split()[1]

'SCIENCE'

In [43]:
x.center(100)

'                                        Data SCIENCE is fun                                         '

# DATA TYPE

In [44]:
x=5
y=10.5
z=7+0j

In [46]:
type(x)

int

In [47]:
type(y)

float

In [48]:
type(z)

complex

In [49]:
isinstance(z,complex)

True

In [50]:
n=float(x)

In [53]:
n

5.0

In [54]:
n=complex(input('Enter your input:'))

Enter your input:10

In [55]:
type(n)

complex

# Sequence Data

In [58]:
l=[1,2,3,4,5,True,'AI',[9,8,7,6]]

In [59]:
l

[1, 2, 3, 4, 5, True, 'AI', [9, 8, 7, 6]]

In [61]:
l[5]

True

In [62]:
l[-1]

[9, 8, 7, 6]

In [63]:
l[-1][2]

7

# Tuple

In [64]:
t=(1,2,3,4,5)

In [65]:
t

(1, 2, 3, 4, 5)

In [66]:
t[0]

1

In [67]:
t[-1]

5

In [2]:
t[0:3] #: means to

NameError: name 't' is not defined

In [3]:
t=(1,2,3,4)

In [4]:
t

(1, 2, 3, 4)

In [5]:
t[0:4]

(1, 2, 3, 4)

range()

In [6]:
x=range(10) #1st case

In [7]:
x

range(0, 10)

In [11]:
for i in x:
    print (i)

0
1
2
3
4
5
6
7
8
9

In [12]:
x=range(10,20)#2nd case
for i in x:
    print (i)

10
11
12
13
14
15
16
17
18
19

In [15]:
x=range(0,100,5) #3rd case
for i in x:
    print (i)

0
5
10
15
20
25
30
35
40
45
50
55
60
65
70
75
80
85
90
95

In [16]:
x=range(100,0,-5) #4th case (reverse)
for i in x:
    print (i)

100
95
90
85
80
75
70
65
60
55
50
45
40
35
30
25
20
15
10
5

# Arrays

In [23]:
import array as arr

In [24]:
a=arr.array('i',[1,2,3,4,5])

In [26]:
a

array('i', [1, 2, 3, 4, 5])

# Set

In [27]:
s={1,2,3,4,5}

In [28]:
type(s)

set

# Dictionary

In [32]:
dic={
    
    'varsity' : 'BUBT',
    'dept' :  'CSE',
    'year' :'2010'
    
}

In [33]:
dic

{'varsity': 'BUBT', 'dept': 'CSE', 'year': '2010'}

In [35]:
dic.keys()

dict_keys(['varsity', 'dept', 'year'])

In [37]:
dic.values()

dict_values(['BUBT', 'CSE', '2010'])

# Data frame

In [4]:
import pandas as pd
df=pd.read_csv('dataset.csv')

In [7]:
df.head(3030)

                                                   Text  Lebel  Month
0                    অসাধারণ\nপেইনকিলার ও আয়না একইসাথে।    1.0    9.0
1             দাস বাশ তোকে জেনো কুমিল্লার খেলায় না দিখি    1.0    7.0
2                                   স্যার লিটন  বাইন**দ    1.0    5.0
3                                     ষ্যাড় লর্ড এলকেডি    1.0    2.0
4                                পাশে থাকলে পাছায় পাবেন    1.0    2.0
...                                                 ...    ...    ...
3025             অতি দ্রুতই ধ্বংস হচ্ছে বাংলার ক্রিকেট!    0.0    4.0
3026  বিসিবির অদৃশ্য চাপের কারণেই মাশরাফি ভাই বিদায় ...    0.0    4.0
3027        ২০০৯ সালে অধিনায়কত্বের দায়িত্ব পান মাশরাফি।    0.0    4.0
3028  ক্যাপ্টেনের চোখে জল আসতে নেই। তাই হয়তো বিদায়লগ...    0.0    4.0
3029  বাংলাদেশের ক্রিকেটের উত্থানের গল্পে শিরোনাম হয়...    0.0    4.0

[3030 rows x 3 columns]

In [6]:
df.shape      #(Row, Coloum)

(3030, 3)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3030 entries, 0 to 3029
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Text    3024 non-null   object
 1   Lebel   3027 non-null   float64
 2   Month   3027 non-null   float64
dtypes: float64(2), object(1)
memory usage: 71.1+ KB

# Binary types

In [9]:
byte_arr=bytearray('ABCDEF','utf-8')

In [10]:
type(byte_arr)

bytearray

In [11]:
memoryview(byte_arr)

In [12]:
memoryview(byte_arr)[1]

66